@model IEnumerable<InventoryManagementSystem.Models.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section style
    {
    <style>
        .en {
            color: #4CAF50;
        }

        .ds {
            color: #C9302C;
        }
    </style>

}
<h4 style="display:inline;float:left;margin-bottom:5px;"><i class="fas fa-list-ul"></i>Suppliers : @ViewBag.SupplierList</h4>
<h4 style="display: inline; float: right; margin-bottom: 5px;">
    <a href="@Url.Action("Create","Supplier")" class=""><i class="fas fa-plus-circle"></i>Add Supplier</a>

</h4>



<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuppliersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CellNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
       
        @if (User.IsInRole("Admin"))
        {
             <th>Action</th>
        }
        else if (User.IsInRole("Manager"))
            {
                <th>Action</th>
            }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuppliersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        @if (item.IsActive == "Yes")
        {
            <td class="en">
                <span>Enabled</span>
            </td>
        }
        else
        {
            <td class="ds">
                <span>Disabled</span>
            </td>
        }
        @if(User.IsInRole("Admin"))
        {
            <td>
            <a href="@Url.Action("Edit","Supplier",new { id = item.SuppliersId })" class="btn btn-primary btn-edit"><i class="fas fa-pen-square"></i></a> |
            <a href="@Url.Action("Delete", "Supplier", new { id = item.SuppliersId })" class="btn btn-danger btn-edit"><i class="far fa-trash-alt"></i></a>
          </td>
        }
        else if (User.IsInRole("Manager"))
        {
            <td>
                <a href="@Url.Action("Edit","Supplier",new { id = item.SuppliersId })" class="btn btn-primary btn-edit"><i class="fas fa-pen-square"></i></a> 
               
            </td>
        }
        
    </tr>
}

</table>
