@model InventoryManagementSystem.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Master.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4><i class="far fa-edit"></i>Edit</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CellNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CellNo)
                @Html.ValidationMessageFor(model => model.CellNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddedBy)
                @Html.ValidationMessageFor(model => model.AddedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderId)
                @Html.ValidationMessageFor(model => model.OrderId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index","Customer")" class=""><i class="fas fa-fast-backward"></i>Back</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
