@model IEnumerable<InventoryManagementSystem.Models.Purchase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h4 style="display:inline;float:left;margin-bottom:5px;"><i class="fas fa-list-ul"></i>Purchases : @ViewBag.PurchaseList</h4>
<h4 style="display: inline; float: right; margin-bottom: 5px;">
    <a href="@Url.Action("Create", "Purchase")" class=""><i class="fas fa-plus-circle"></i>New Purchase</a>

</h4>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stock.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.SuppliersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddedBy)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.SuppliersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddedBy)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Purchase", new { id = item.Id })" class="btn btn-primary btn-edit"><i class="fas fa-pen-square"></i></a> |
            <a href="@Url.Action("Delete", "Purchase", new { id = item.Id })" class="btn btn-danger btn-edit"><i class="far fa-trash-alt"></i></a>
        </td>
    </tr>
}

</table>
